<form class="input-form" action="index.html" method="post">
  <input class="input-title" type="text" name="name" value="" placeholder="Input Post Title">
  <textarea class="input-body" name="name" rows="8" cols="40" placeholder="Input Post Text">

  </textarea>
  <button class="submit-button" type="submit" name="button">Submit</button>
</form>
